- @question ||= Question.new

h2 Create new question
- if @question&.errors.present?
  = render "shared/errors", resource: @question

= render "form", question: @question

= link_to "Back to questions", questions_path