<h4>Users</h4>

<table class="users table">
  <thead>
    <tr>
      <td>#</td>
      <td>User</td>
    </tr>
  </thead>

  <tbody>
    {{#each users}}
      {{> user}}
    {{/each}}
  </tbody>

</table>