<h4>Questions</h4>

<table class="questions table">
  
  <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Author</td>
    </tr>
  </thead>

  <tbody>
    {{#each questions}}
      {{> question}}
    {{/each}}
  </tbody>

</table>