.nav {
  text-align: center;
}

.errors {
  text-align: center;  
}

.content {
  text-align: center;
}

.table {
  margin-left:auto;margin-right:auto;
}

.hide {
  display: none !important;
}

.best {
  background-color: hsl(89, 43%, 51%);
}

table {
  margin-left:auto;margin-right:auto;
}