.nav {
  text-align: center;
}

.hide {
  display: none !important;
}

.best {
  background-color: hsl(89, 43%, 51%);
}

.block {
  background-color: #ffffff;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 5px;
}